<section>
  <h2>{{ section.settings.slide_secheadOne }}</h2>

  {% if section.settings.test_img_one != blank %}
  <img src="{{ section.settings.test_img_one | img_url: '80x80'}}">
  {% endif %} 
 
  {% if section.blocks.size > 0 %}
    <ul>
      {% for block in section.blocks %}
        <li>{{ block.settings.multi_line_one }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% schema %}
{
  "name": "SlideimgOne",
  "tag": "section",
  "class": "slide_sec",
  "settings": [
    {
      "type": "text",
      "id": "slide_secheadOne",
      "label": "Slidess",
      "default": "Section's Title One"
    },
    {
      "type": "image_picker",
      "id": "test_img_one",
      "label": "Choose Image"
    }
  ],
  "blocks": [
    {
      "type": "multiple_text_one",
      "name": "Multiple Text One",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "multi_line_one",
          "label": "Multiple text One"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Demo Test one",
      "category": "custom"
    }
  ]
}
{% endschema %}
